@model CMSG.Models.EmployeeVM
@{
    ViewBag.Title = "Create Employee";
}

<h2>Create Employee</h2> 


<form asp-controller="Employee" asp-action="Create" method="post" enctype="multipart/form-data" class="form-group">

    <label asp-for="Name">Employee Name</label>                             @*// asp-for="....." because from model*@
    <input type="text" asp-for="Name" class="form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br /><br />

    <label asp-for="Salary">Employee Salary</label>                            @*// asp-for="....." because from model*@
    <input type="text" asp-for="Salary" class="form-control" />
    <span class="text-danger" asp-validation-for="Salary"></span>
    <br /><br />

    <label asp-for="Address">Employee Address</label>                            @*// asp-for="....." because from model*@
    <input type="text" asp-for="Address" class="form-control" />
    <span class="text-danger" asp-validation-for="Address"></span>
    <br /><br />

    <label asp-for="Email">Employee Email</label>                            @*// asp-for="....." because from model*@
    <input type="email" asp-for="Email" class="form-control" />
    <span class="text-danger" asp-validation-for="Email"></span>
    <br /><br />


    <label asp-for="HireDate">Hire Date</label>                            @*// asp-for="....." because from model*@
    <input type="date" asp-for="HireDate" class="form-control" />
    <span class="text-danger" asp-validation-for="HireDate"></span>
    <br /><br />


    <label asp-for="Notes">Notes</label>                            @*// asp-for="....." because from model*@
    <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
    <span class="text-danger" asp-validation-for="Notes"></span>
    <br /><br />


    <label asp-for="DepartmentId">Department</label>                            @*// asp-for="....." because from model*@
    <select asp-for="DepartmentId" asp-items="@(SelectList)ViewBag.DepartmentList">
        <option>Choose Department</option>
    </select>
    <span class="text-danger" asp-validation-for="Notes"></span>
    <br /><br />

    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="IsActive" class="custom-control-input">           @*// asp-for="....." because from model*@
        <label class="custom-control-label" asp-for="IsActive"> Is Active</label>
    </div>
    <span class="text-danger" asp-validation-for="IsActive"></span>


    <br /><br />


    <label asp-for="PhotoUrl">Upload Photo</label>                            @*// asp-for="....." because from model*@
    <input type="file" asp-for="PhotoUrl" class="form-control" />
    <br /><br />


    <label asp-for="CvUrl">Upload Cv</label>                            @*// asp-for="....." because from model*@
    <input type="file" asp-for="CvUrl" class="form-control" />
    <br /><br />

    <br />
    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
    </center>

</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

